.wrapper {
    display: flex;
  }
  
  .left-content {
    background-color: yellow;
    width: 400px;
    height: 400px;
  }
  
  .right-content {
    background-color: blue;
    width: 600px;
    height: 300px;
    order: 1;
  }
  